@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: 99 102 241; /* indigo-500 */
}

html.dark {
  color-scheme: dark;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji';
}

.status-led {
  @apply h-2 w-2 rounded-full shadow-[0_0_12px];
}


